{% extends 'layout.html' %}
{% load static %}
{% block head %}
 <title>Checkout Detail </title>
 <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}

{% block content %}

<div class="outer-w3-agile" id="all-checkout">
    <h4 class="tittle-w3-agileits mb-4">Checkout Detail </h4>
    <hr>
    <table class="table table-bordered table-striped" id="final-table">
        <thead>
        <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Date of Issue</th>
                <th>Checkin Status</th>
                <th>Date of Submission</th>
                <th>Action</th>
        </tr>
        </thead>
        <tbody> 
            {% for checkout in checkouts %}   
            <tr>
                <td>{{ checkout.s_no }}</td>
                <td>{{ checkout.roll_no }}</td>
                <td>{{ checkout.date_of_issue }}</td>
                <td>{{ checkout.checkin_status }}</td>
                <td>{{ checkout.date_of_submit }}</td>
                <td>
                    <button type="button" data-id="{{ checkout.id }}" class="btn btn-info">Detail</button>
                </td>
            </tr>  
            {% endfor %}
        </tbody> 
    </table>
</div>

{% endblock %}
{% block script %}

{% endblock %}