{% extends 'layout.html' %}
{% load static %}
{% block head %}
 <title>Checkout </title>
 <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}

{% block content %}

<h4 class="tittle-w3-agileits mb-0"> Checkout </h4>
<hr>

<div class="table-responsive mt-2">

    <table class="table table-bordered table-striped mt-1" id="item-table">
        <thead>
        <tr>
            <th>Sport Type</th>
            <th>Equipment</th>
            <th>Brand</th>
            <th>Quality</th>
            <th>Quantity</th> 
        </tr>
        </thead>
        <tbody id="item-table-body">

            <tr>
                    <td> 
                        <select class="form-control" id="select-sport">
                            {% for sport in sports %}
                            <option>{{ sport.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                            <select class="form-control" id="select-item">
                                {% for item in items %}
                                    <option>{{ item.name }}</option>
                                {% endfor %}    
                            </select>
                        </td>
                    <td>
                        <select class="form-control" id="select-brand">
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="select-quality">
                                <option>Used</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="select-quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                        </select>
                    </td>   
            </tr> 
        </tbody> 
    </table>
    <div class="d-flex flex-row-reverse">
            <button class="btn btn-light" id="AddItem" onclick="AddItem()"><i class="fas fa-plus-circle fa-4x"></i></button>
    </div>
    <hr class="mt-2">
   <a href="#checkout"><button class="btn btn-primary" style="margin-inline-start: 45%;">Checkout</button></a>
</div>
<div class="outer-w3-agile mt-3" id="checkout">
    <h4 class="tittle-w3-agileits mb-4">Satya (B17CS048) </h4>
    <table class="table table-bordered table-striped" id="final-table">
        <thead>
        <tr>
            <th>Sport Type</th>
            <th>Equipment</th>
            <th>Brand</th>
            <th>Quality</th>
            <th>Quantity</th> 
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="final-table-body">         
        </tbody> 
    </table>

    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-data">
        
            <input type="number" name="item" value="3487">
            <input type="number" name="quantity" value="1">

        <button type="submit" class="btn btn-primary" style="margin-inline-start: 45%;" disabled=true id="form-checkout">Checkout</button>
    </form>

</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}