{% extends 'layout.html' %}
{% load static %}
{% block head %}
 <title>Checkout </title>
 <link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock %}

{% block content %}

<h4 class="tittle-w3-agileits mb-0"> Checkout </h4>
<hr>

<div class="table-responsive mt-2">
    
    <table class="table table-bordered table-striped mt-1">
        <thead>
        <tr>
            <th>Sport Type</th>
            <th>Equipment</th>
            <th>Quantity</th>
            <th>Quality</th>
            <th>Roll No</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        
            <tr>
                    <td> 
                        <select class="form-control" id="quality"  name="quality">
                            <option selected="selected">New</option>
                            <option>Used</option>
                            <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td><a href=""><i class="fas fa-minus-circle fa-3x"></i></a></td>
            </tr> 
            <tr>
                <td> 
                    <select class="form-control" id="quality"  name="quality">
                        <option selected="selected">New</option>
                        <option>Used</option>
                        <option>Damaged</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="quality"  name="quality">
                            <option selected="selected">New</option>
                            <option>Used</option>
                            <option>Damaged</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="quality"  name="quality">
                            <option selected="selected">New</option>
                            <option>Used</option>
                            <option>Damaged</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="quality"  name="quality">
                            <option selected="selected">New</option>
                            <option>Used</option>
                            <option>Damaged</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="quality"  name="quality">
                            <option selected="selected">New</option>
                            <option>Used</option>
                            <option>Damaged</option>
                    </select>
                </td>
                <td><a href=""><i class="fas fa-minus-circle fa-3x"></i></a></td>
            </tr> 

            <tr>
                    <td> 
                        <select class="form-control" id="quality"  name="quality">
                            <option selected="selected">New</option>
                            <option>Used</option>
                            <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" id="quality"  name="quality">
                                <option selected="selected">New</option>
                                <option>Used</option>
                                <option>Damaged</option>
                        </select>
                    </td>
                    <td><a href=""><i class="fas fa-minus-circle fa-3x"></i></a></td>
            </tr> 
        </tbody> 
    </table>
    <div class="d-flex flex-row-reverse">
            <div class="p-0"><a href="#"><i class="fas fa-plus-circle fa-4x"></i></a></div>
    </div>
    <hr class="mt-2">
    <button type="submit" class="btn btn-primary" style="margin-inline-start: 45%;">Checkout</button>
</div>



{% endblock %}
